* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.logo {
  width: 30%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: blanchedalmond;
}
.button {
  padding: 0.12rem;
  border: solid 2px #fff2fc;
  border-radius: 5px;
  background-color: white;
  color: #ceceff;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button:hover {
  background: blanchedalmond;
  color: #ceceff;
}

header .title {
  color: #ceceff;
  font-size: 180%;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blanchedalmond;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  color: #ceceff;
}
header nav {
  margin-right: 1rem;
}
header nav a {
  text-decoration: none;
  color: #ceceff;
  font-size: 20px;
}

.profil-login {
  display: flex;
  justify-content: center;
}
.profil-login-card {
  background-color: blanchedalmond;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 6px;
}

.profil-login-card .profil-login-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profil-login-card .profil-login-inputs input {
  margin: 5px 0;
  padding: 5px 5px;
  outline: 0;
  border: 2px solid#ffffff;
  border-radius: 6px;
}

.profil-login-card .profil-login-button {
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  justify-content: center;
}
.login-card {
  background-color: #ceceff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 6px;
}

.login-card .login-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card .login-inputs input {
  margin: 5px 0;
  padding: 5px 5px;
  outline: 0;
  border: 2px solid#ffffff;
  border-radius: 6px;
}

.login-card .login-button {
  display: flex;
  justify-content: center;
}
.products-product-card {
  display: column;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  width: 20%;
  height: auto;
  border: solid;
  border-radius: 2%;
}
.products-product-card > img {
  box-sizing: border-box;
  border-radius: 2%;
  width: 100%;
}
.products-product-card > h3 {
  justify-content: center;
  text-align: center;
}
.products-product-card > p {
  justify-content: center;
  text-align: center;
}
.allCat {
  display: flex;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5em;
  margin-bottom: 4.5em;
}
.GiantCard > img {
  box-sizing: border-box;
  border-radius: 2%;
  width: 30em;
}
.GiantCard > h3 {
  text-align: center;
}
.GiantCard > p {
  text-align: center;
}
.AllProducts {
  display: flex;
}
