@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

* {
  font-family: "Italianno";
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 235, 205);
}
.logo {
  width: 8rem;
  height: 8rem;
  margin-top: 0.5rem;
  margin-right: -10rem;
  align-self: left;
}
.logo > a {
  margin-right: -10em;
  align-self: left;
  background-color: blanchedalmond;
}
hr {
  justify-content: center;
  align-self: center;
  width: 60%;
  margin-bottom: 2rem;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: blanchedalmond;
}
.button {
  padding: 0.12rem;
  border: solid 2px #fff2fc;
  border-radius: 5px;
  background-color: white;
  color: #5c3f61;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button:hover {
  background: blanchedalmond;
  color: #5c3f61;
}
header .title {
  color: #5c3f61;
  font-size: 300%;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  margin-right: 8rem;
  margin-left: 8rem;
  align-items: center;
  background-color: blanchedalmond;
  text-decoration: none;
  font-size: 100%;
  color: #5c3f61;
}
header nav {
  margin-right: 11rem;
  margin-left: 20rem;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
  color: #5c3f61;
  font-size: 30px;
}
.logs {
  margin-right: 2rem;
  font-size: 30px;
  justify-content: space-between;
}
.profil-login {
  display: flex;
  justify-content: center;
}
.profil-login-card {
  background-color: blanchedalmond;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 6px;
}
.profil-login-card .profil-login-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profil-login-card .profil-login-inputs input {
  margin: 5px 0;
  padding: 5px 5px;
  outline: 0;
  border: 2px solid#ffffff;
  border-radius: 6px;
}
.profil-login-card .profil-login-button {
  display: flex;
  justify-content: center;
}
.login {
  display: flex;
  justify-content: center;
}
.login-card {
  background-color: blanchedalmond;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 6px;
}
.login-card .login-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-card .login-inputs input {
  margin: 5px 0;
  padding: 5px 5px;
  outline: 0;
  border: 2px solid#ffffff;
  border-radius: 6px;
}

.login-card .login-button {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerform {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  justify-content: center;
  align-self: center;
  width: 60%;
  border: solid 1px black;
  margin-left: 19.2rem;
  font-size: 200%;
}
h4 {
  font-size: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allProducts {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}
.product {
  width: 20%;
  max-height: 406px;
  font-size: 200%;
  border: solid 1px;
  border-radius: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product > img {
  width: 100%;
  height: 50%;
}
.allCategories {
  display: flex;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}
.category {
  width: 20%;
  max-height: 406px;
  font-size: 200%;
  border: solid 1px;
  border-radius: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.category > img {
  width: 100%;
  height: 50%;
}


/*Mobile
@media only screen and (max-width: 768px){}
*/
